In [1]:
#Import Pandas database
import pandas as pd
import os
import csv

In [2]:
#Open CSV needed for the assignment
budget_data_df = pd.read_csv("Resources/budget_data.csv")

budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
  #Find the total months included in the dataset
total_months = len(budget_data_df["Date"])
total_months

86

In [4]:
net_total = budget_data_df['Profit/Losses'].sum()
net_total

38382578

In [5]:
#Creates a loop to calculate the changes int the "Profit/Losses" column
budget_data_changes = budget_data_df['Profit/Losses'].diff()
profit_change = budget_data_changes
#Takes the average of those changes
print(profit_change.mean())

-2315.1176470588234

In [6]:
#Calculates the greatest increase in profits
greatest_increase = budget_data_changes.max()
greatest_increase

1926159.0

In [7]:
#Calculates the greatest decrease in losses
greatest_decrease = budget_data_changes.min()
greatest_decrease

-2196167.0

In [25]:
#Prints a Finacial Analysis of all the information
print("Financial Analysis")
print("------------------------")
print(f'Total Months: {total_months}')
print(f'Total: ${net_total}')
print(f'Average Change: ${profit_change.mean().round(2)}')
print(f'Greatest Increase in Profits:\n{increase_date} $({int(greatest_increase)})')
print(f'Greastest Decrease in Losses:\n{decrease_date} $({int(greatest_decrease)})')

Financial Analysis
------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits:
Feb-2012 $(1926159)
Greastest Decrease in Losses:
Sep-2013 $(-2196167)

In [12]:
budget_data_changes.loc[budget_data_changes == 1926159]
budget_data_changes.loc[budget_data_changes == -2196167]

44   -2196167.0
Name: Profit/Losses, dtype: float64

In [14]:
increase_date = budget_data_df['Date'].iloc[25]
increase_date

'Feb-2012'

In [15]:
decrease_date =budget_data_df['Date'].iloc[44]
decrease_date

'Sep-2013'

In [26]:
#Export data in a text file to /Analysis folder
output_path = os.path.join("Analysis","pybank.csv")
financial_analysis = zip(total_months, profit_change.mean().round(2), (increase_date, int(greatest_increase)), 
                                (decrease_date, int(greatest_decrease))    
with open(output_path, 'w', newline='') as datafile:
    csvwriter = csv.writer(datafile, delimiter=',')
    
    # Write the first row (column headers)
    csvwriter.writerow(['Financial Analysis'])
    csvwriter.writerows(financial_analysis)

SyntaxError: invalid syntax (<ipython-input-26-7ddd26eb5216>, line 5)